* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    // overflow-x: hidden;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 80%);
    background-repeat: no-repeat;
}

header {
    // border: 1px red solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    p {
        font-size: 50px;
        font-weight: 800;
        color: white;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    .bigContainer {
        width: 70%;
        margin: 1rem;
        padding: 1rem;
        // border: 1px green solid;

        .navbar {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;

            p {
                color: white;
            }

            .dropDown {
                #favCities {
                    width: 150px;
                    padding: 5px;
                    padding-left: 10px;
                    border-radius: 20px;
                }
            }

            .searchBar {
                input {
                    padding: 5px;
                    padding-left: 10px;
                    border-radius: 20px;
                }
            }
        }

        .currWeather {
            // border: 1px black solid;
            border-radius: 20px;
            background-color: rgba(98, 173, 235, 0.281);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            .container {
                // border: 1px red solid;
                width: 50%;
                color: white;
                .cityName {
                    display: flex;
                    justify-content: space-between;
                    margin: 0.5rem 0;
                    font-size: 20px;
                    // .favIcon{
                    //     color: yellow;
                    // }
                }

                .temperature {
                    text-align: center;
                    margin-bottom: 0.5rem;
                    font-weight: 600;
                    font-size: 50px;
                }
                .weatherInfo{
                    // border: 1px red solid;
                    text-align: center;
                }
            }
        }

        .dailyForecast {
            margin: 1rem 0;
            color: white;
            .daysContainer {
                // border: 1px black solid;
                border-radius: 20px;
                background-color: rgba(98, 173, 235, 0.281);
                display: flex;
                justify-content: space-evenly;
                padding: 0.5rem 0;
                .day {
                    display: flex;
                    flex-direction: column;
                    height: 200px;
                    width: 15%;
                    border-radius: 20px;
                    border: 1px rgba(202, 207, 223, 0.438) solid;
                    align-items: center;
                    padding: 5px;
                    img {
                        width: 50%;
                        margin: auto;
                    }
                }

            }
        }

        .hourlyCast {
            margin: 1rem 0;
            color: white;
            p {
                margin: 0.5rem 0;
            }
            .hoursContainer {
                // border: 1px black solid;
                border-radius: 20px;
                background-color: rgba(98, 173, 235, 0.281);
                display: flex;
                justify-content: space-evenly;
                padding: 0.5rem 0;
                .hour {
                    height: 200px;
                    border-radius: 20px;
                    width: 12%;
                    border: 1px rgba(202, 207, 223, 0.438) solid;
                    padding: 5px;
                    border: 1px black solid;
                    .oneHour{
                        // border: 1px red solid;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        // .time{
                        //     font-weight: 1000;
                        // }
                        // p{
                        //     border: 1px red solid;
                        // }
                        img{
                            // border: 1px red solid;
                            background-position: center;
                            border-radius: 50%;
                            width: 40%;
                        }
                    }
                    
                }
            }
        }

        .title {
            margin: 0.5rem 0;
            font-size: 20px;
            font-weight: 600;
        }
    }
}
.showOnMobile {
    display: none;
}
